<header><h1>All Your Favorites</h1></header>
<div id="container">
    
    <div class = "article">
        <h2><%= info.data.results[i].title %></h2>

         <p><%= info.data.results[i].byline %></p>

        <p><% info.data.results[i].publishedDate %></p>

        <span id="links">
            <a href= "<%= info.data.results[i].url %>" > Go to article</a>

        </span>
     </div>
    
<% } %>
</div>